/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  background: #f9f9f9;
}

.container {
  width: 83.8vw;
  margin: 0 auto;
  padding: 0 15px;
}

:root {
  --primary-color: #3358ff;
  --primary-hover: #1436cf;
  --primary-yellow: #ffe000;
  --primary-blue-bg: #ebeeff;
  --primary-orange: #ff5300;
  --primary-orange-bg: #ffe3d5;
}

/* HERO SLIDER SECTION ====================================================== */

.hero-swiper-section {
  padding-top: 2vw;
}

.hero-slide-item {
  padding: 5.7vw;
  background-image: url(../images/main-page/hero-bg-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 26vw; */
  flex-shrink: 0;
}

.hero-slide-title {
  font-family: "Exo 2";
  font-weight: 600;
  font-size: 2.9vw;
  line-height: 3.4vw;
  line-height: 1.2;
  color: #fff;
  width: 20vw;
  margin-bottom: 0.8vw;
}

.hero-slide-text {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 0.8vw;
  line-height: 1.2vw;
  line-height: 1.5;
  color: #fff;
  margin-bottom: 2vw;
}

.hero-slide-btn {
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  font-size: 0.9vw;
  line-height: 1.5vw;
  line-height: 1.61111;
  color: black;
  padding: 0.8vw 1.25vw;
  border: none;
  border-radius: 0.4vw;
  transition: 0.3s;
}

.hero-slide-btn:hover {
  background: var(--primary-color);
  color: #fff;
}

.hero-swiper-container .swiper-wrapper {
  display: flex;
}

.hero-swiper-container {
  position: relative;
  overflow: hidden;
  /* width: 100%; */
  border-radius: 1vw;
}

.swiper-pagination-bullet {
  border-radius: 3.4vw !important;
  width: 18.9vw !important;
  height: 0.2vw !important;
  background: #fff !important;
  opacity: 0.1 !important;
}

.swiper-pagination-bullet-active {
  background: #fff !important;
  opacity: 1 !important;
}

.hero-swiper-container .swiper-pagination {
  position: absolute !important;
  top: 0.9vw !important;
  height: 2vw !important;
}

/* SERVICES SECTION ========================================================== */
.services-section {
  padding-top: 2vw;
  padding-bottom: 3vw;
}

.services-list {
  display: flex;
  justify-content: space-between;
}

.services-item {
  width: 16.1vw;
  height: 16.4vw;
  background: #f2f3f7;
  border-top-left-radius: 0.4vw;
  border-top-right-radius: 0.4vw;
  border-bottom-left-radius: 0.8vw;
  border-bottom-right-radius: 0.8vw;
  padding: 1.25vw;
  transition: 1s;
}

.services-images {
  transition: 0.3s;
  margin-bottom: 1vw;
}

.services-item-info-container {
}

.services-title {
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  font-size: 1.4vw;
  text-transform: uppercase;
  color: #030317;
  margin-bottom: 1.25vw;
}

.services-text-backdrop-container {
  height: 0px;
  opacity: 0;
  transition: 0.3s;
}

.services-text {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 0.8vw;
  line-height: 1.25vw;
  line-height: 1.5;
  color: #686874;
}

.services-btn {
  display: flex;
  align-items: center;
  gap: 0.4vw;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 0.8vw;
  color: rgba(0, 0, 0, 0.2);
  border: none;
  background: transparent;
}

.services-btn-icon {
  stroke: rgba(0, 0, 0, 0.2);
}

/* TARRIF SECTION  ============================================= */

.tariff-section {
  padding-bottom: 4.1vw;
}

.tariff-section-title {
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  font-size: 1.6vw;
  color: #030317;
  margin-bottom: 1.6vw;
}

.tariff-title-span {
  color: var(--primary-color);
}

.tariff-navigation-list {
  display: flex;
  background: #f3f3f4;
  width: fit-content;
  border-radius: 8.6vw;
  margin-bottom: 1.6vw;
}

.navigation-item {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 0.8vw;
  line-height: 1.5vw;
  color: #030317;
  padding: 0.6vw 1.2vw;
  border-radius: 8.6vw;
  transition: 0.3s;
  cursor: pointer;
}

.navigation-item:hover {
  color: var(--primary-color);
}

.tariff-navigation-list .current-nav-item {
  color: #fff;
  background-color: var(--primary-color);
}

.tariff-item-title-wrapper {
  padding: 2.2vw 0 0 2vw;
  background-image: url(../images/main-page/tariff-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 21.8vw;
  height: 42.2vw;
  border-radius: 1vw;
  overflow: hidden;
}

.tariff-item-title-wrapper .special-item-action {
  border-radius: 8.6vw;
  margin-bottom: 1vw;
}

.tariff-item-title {
  font-family: "Exo 2", sans-serif;
  font-weight: 700;
  font-size: 2.5vw;
  line-height: 2.7vw;
  color: #fff;
  width: 17vw;
  margin-bottom: 2.5vw;
}

.tariff-item-title-span {
  color: var(--primary-yellow);
}

.tariff-item-title-inform {
  font-family: "Exo 2", sans-serif;
  font-weight: 700;
  font-size: 0.8vw;
  line-height: 0.9vw;
  text-transform: uppercase;
  color: var(--primary-color);
  padding: 0.6vw 1vw;
  background-color: var(--primary-yellow);
  width: 11.8vw;
  border-radius: 8.6vw;
  margin-bottom: 0.6vw;
}

.tariff-marker-container {
  position: relative;
  display: flex;
  gap: 0.4vw;
  z-index: 9;
  margin-left: 1.6vw;
}

.tariff-popular-marker {
  font-family: "Exo 2", sans-serif;
  font-weight: 700;
  font-size: 0.6vw;
  text-transform: uppercase;
  color: #fff;
  background: linear-gradient(90deg, #3358ff 0%, #a117c3 100%);
  padding: 0.4vw 0.8vw;
  border-radius: 1vw;
  color: #fff;
  width: fit-content;
}

.tariff-title {
  font-family: "Exo 2";
  font-weight: 700;
  font-size: 1.6vw;
  color: #000;
  margin-bottom: 1.6vw;
}

.info-container-title {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 0.7vw;
  line-height: 1vw;
  color: #81818b;
  margin-bottom: 0.2vw;
}

.tariff-info-container {
  display: flex;
  gap: 0.8vw;
  align-items: flex-start;
  margin-bottom: 1.2vw;
}

.tariff-item-icons {
  width: 1.2vw;
  height: 1.2vw;
  /* align-self: center; */
}

.inner-info-container {
  display: flex;
  align-items: flex-end;
  gap: 0.2vw;
}

.inner-number-span {
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  font-size: 1.4vw;
  line-height: 1.4vw;
  text-align: center;
  color: #030317;
}

.inner-text-span {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 0.7vw;
  color: #030317;
}

.inner-blue-link {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 0.7vw;
  color: var(--primary-color);
}

.inner-price-span {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 0.6vw;
  color: #484848;
}

.question-icon {
  width: 1vw;
  height: 1vw;
  margin-right: 0.6vw;
}

.tariff-backdrop-button {
  display: flex;
  align-items: center;
  background: #f2f3f7;
  border: none;
  padding: 0.6vw;
  border-radius: 0.4vw;
}

.tariff-btn-text {
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  font-size: 1.2vw;
  line-height: 1.2vw;
  text-align: center;
  color: #030317;
  margin-right: 0.2vw;
}

.backdrop-ico-tariff {
  width: 0.8vw;
  height: 0.5vw;
}

.backdrop-btn-container {
  display: flex;
  align-items: center;
  gap: 1.2vw;
}

.tariff-info-container:nth-child(5) .info-container-title {
  margin-bottom: 0.4vw;
}

.tariff-item-line {
  height: 0.052vw;
  background: #f2f2f2;
}

.tariff-info-container-list {
  margin-bottom: 1.6vw;
}

.bonus-tag-container {
  position: relative;
  width: 3.1vw;
  height: 1.7vw;
  background-image: url(../images/main-page/bonus-tag-container.png);
  background-repeat: no-repeat;
  background-size: 3.1vw 1.7vw;
  margin-bottom: 0.2vw;
  margin-top: 0.4vw;
}

.bonus-tag-text {
  position: absolute;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 0.6vw;
  line-height: 0.6vw;
  color: #fff;
  left: 22%;
  top: 22%;
}

.tariff-item-text {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 0.7vw;
  line-height: 1vw;
  color: #030317;
  width: 16vw;
  margin-bottom: 0.4vw;
}

.tv-icon {
  width: 1.1vw;
  height: 1.1vw;
  fill: black;
  transition: 0.3s;
}

.tv-list-container {
  display: flex;
  gap: 0.5vw;
  align-items: center;
  margin: 0.5vw 0;
}

.tv-list-text {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 0.7vw;
  text-align: center;
  color: #030317;
  transition: 0.3s;
}

.tariff-item-price-container {
  margin: 1.6vw 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner-item-price-container {
  display: flex;
  margin-bottom: 0.4vw;
}

.old-price-container {
}

.old-price-value {
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  font-size: 1.4vw;
  line-height: 1.4vw;
  text-decoration: line-through;
  text-align: center;
  color: #9a9aa2;
}

.old-price-span {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 0.6vw;
  line-height: 0.6vw;
  color: #9a9aa2;
}

.current-price-container {
  display: flex;
  gap: 0.2vw;
}

.current-price-value {
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  font-size: 2.5vw;
  line-height: 2.5vw;
  text-align: center;
}

.current-inner-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.current-inner-span {
  position: relative;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: 0.6vw;
  line-height: 0.6vw;
  line-height: 1;
  color: #030317;
  display: flex;
  flex-direction: column;
}

.current-inner-span:nth-child(1)::after {
  position: absolute;
  top: 0.8vw;
  content: "";
  width: -webkit-fill-available;
  height: 0.052vw;
  background-color: #000;
}

.inner-item-price-container {
  gap: 0.6vw;
}

.tariff-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tariff-btn {
  margin-bottom: 1vw;
  width: auto;
}

.inner-date-info {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 0.6vw;
  line-height: 0.6vw;
  color: #3d3606;
  padding: 0.3vw 3.3vw;
  background: #ffe000;
  width: fit-content;
}

.tariff-btn {
  background-color: var(--primary-color);
  border: none;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 0.9vw;
  line-height: 0.9vw;
  color: #fff;
  padding: 1.25vw 5.4vw;
  border-radius: 0.4vw;
  transition: 0.3s;
}

.tariff-btn:hover {
  background-color: var(--primary-yellow);
  color: var(--primary-color);
}

.tariff-link {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 0.8vw;
  color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  gap: 0.5vw;
  transition: 0.3s;
}
.tariff-link:hover {
  color: black;
}

.tariff-link:hover .tariff-link-icon {
  stroke: black;
}

.tariff-link-icon {
  width: 0.3vw;
  height: 0.6vw;
  stroke: rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.inner-tariff-container {
  /* position: absolute; */
  padding: 1.6vw;
  background-color: #ffffff;
  width: fit-content;
  border-radius: 1vw;
  top: 0.7vw;
  z-index: 1;
  margin-top: -0.7vw;
}

.tariff-list-container {
  display: flex;
  justify-content: space-between;
}

.tv-list-container:hover .tv-icon {
  fill: var(--primary-color);
}

.tv-list-container:hover .tv-list-text {
  color: var(--primary-color);
}

.tariff-item {
  position: relative;
}
/* FORN SECTION ================================================ */

.form-section {
  background-color: #f2f3f7;
  padding: 4.1vw 0;
}

.form-container {
  width: 43.7vw;
  padding: 3.1vw;
  background: #fff;
  border-radius: 0.8vw;
}

.form-section .container {
  display: flex;
  justify-content: space-between;
}

.form-title {
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  font-size: 2vw;
  line-height: 2.2vw;
  color: #030317;
  width: 26vw;
  margin-bottom: 2vw;
}

.form {
}

.form-label {
  display: flex;
  flex-direction: column;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 0.8vw;
  line-height: 1.1vw;
  color: #030317;
  flex: auto;
}

.first-label {
  margin-bottom: 1.25vw;
}

.form-input {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  border: 0.078vw solid #f2f2f2;
  border-radius: 0.3vw;
  padding: 1vw;
  height: 3.3vw;
  margin-top: 0.6vw;
}

.form-btn {
  display: block;
  border: none;
  background: var(--primary-color);
  width: -webkit-fill-available;
  height: 3.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 0.9vw;
  line-height: 0.9vw;
  color: #fff;
  border-radius: 0.4vw;
  margin-top: 2vw;
  gap: 0.4vw;
  transition: 0.3s;
}

.form-btn:hover {
  background-color: var(--primary-hover);
}

.form-search-icon {
  fill: #fff;
  width: 1vw;
  height: 1vw;
}

.form-address {
  display: flex;
  gap: 1.25vw;
}

.form-arrow-icon {
  stroke: black;
  align-self: center;
  margin-left: auto;
  transition: 0.3s;
  width: 0.7vw;
  height: 1.3vw;
}

.form-link-container {
  display: flex;
  gap: 2.5vw;
  padding: 3.4vw 3.1vw;
  background-color: #ffffff;
  width: 37vw;
  border-radius: 0.8vw;
  transition: 0.3s;
}

.form-link-container:hover {
  background-color: var(--primary-color);
}

.form-link-container:hover .form-link-title,
.form-link-container:hover .form-link-text,
.form-link-container:hover .form-arrow-icon {
  color: #ffffff;
}

.form-link-container:hover .form-arrow-icon {
  stroke: #ffffff;
  transform: translateX(1.5vw);
}

.form-link-image {
  width: 5.5vw;
  height: 5.5vw;
}

.form-link-title {
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  font-size: 2vw;
  line-height: 2.2vw;
  color: #030317;
  width: 16vw;
  margin-bottom: 0.8vw;
  transition: 0.3s;
}

.form-link-text {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 0.8vw;
  line-height: 1.1vw;
  color: #030317;
  width: 16vw;
  transition: 0.3s;
}

.link-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* SPECIAL SECTION ============================================== */
.special-section {
  padding: 4.1vw 0;
}

.special-section-title {
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  font-size: 1.8vw;
  color: #030317;
  display: flex;
  align-items: center;
  gap: 1vw;
  margin-bottom: 2vw;
}

.special-title-icon {
  width: 1.5vw;
  height: 1.7vw;
}

.special-list {
  display: flex;
  justify-content: space-between;
  gap: 0.8vw;
}

.special-item {
  width: max-content;
}

.special-img-wrapper {
  border-radius: 1vw;
  overflow: hidden;
  margin-bottom: 0.4vw;
}

.special-img {
  transition: 0.3s;
  object-fit: cover;
}

.special-item-date-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1vw;
}

.special-item-date {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 0.8vw;
  color: #9a9aa2;
}

.special-item-action {
  font-family: "Exo 2", sans-serif;
  font-weight: 700;
  font-size: 0.6vw;
  text-transform: uppercase;
  color: var(--primary-color);
  background-color: var(--primary-yellow);
  padding: 0.4vw 0.8vw;
  border-radius: 0.4vw;
  width: fit-content;
}

.special-item-title {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 1.25vw;
  line-height: 1.35vw;
  letter-spacing: -0.01em;
  color: #030317;
  width: 20vw;
  margin-bottom: 0.8vw;
  transition: 0.3s;
}

.special-item-text {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 0.7vw;
  line-height: 1.25vw;
  color: #686874;
  width: 22vw;
}

.special-item-other {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 0.8vw;
  color: #9a9aa2;
  display: flex;
  align-items: center;
  gap: 0.4vw;
  transition: 0.3s;
}

.special-other-icon {
  width: 0.4vw;
  height: 0.6vw;
  stroke: #9a9aa2;
  transition: 0.3s;
}

.special-item-info-container {
  padding: 1.8vw;
  border-radius: 1vw;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 17.1vw;
}

.special-inner-block {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}

.special-item:hover .special-img {
  transform: scale(1.3);
}

.special-item:hover .special-item-title,
.special-item:hover .special-other-icon,
.special-item:hover .special-item-other {
  color: var(--primary-color);
  stroke: var(--primary-color);
}

.special-item:hover .special-item-other {
  gap: 0.8vw;
}

/* NEWS_SECTION ============================================ */

.news-section {
  padding-bottom: 4.1vw;
}

.news-container {
  display: flex;
  justify-content: space-between;
}

.news-section-title {
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  font-size: 1.8vw;
  color: #030317;
  margin-bottom: 2vw;
}

.news-item:not(:last-child) {
  margin-bottom: 0.4vw;
}

.news-date-container {
  display: flex;
  align-items: center;
  gap: 0.8vw;
  margin-bottom: 1vw;
}

.news-date {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 0.8vw;
  color: #9a9aa2;
}

.news-marker {
  font-family: "Exo 2", sans-serif;
  font-weight: 700;
  font-size: 0.6vw;
  text-transform: uppercase;
  color: var(--primary-orange);
  padding: 0.4vw 0.8vw;
  background-color: var(--primary-orange-bg);
  width: fit-content;
  border-radius: 0.4vw;
}

.event-marker {
  font-family: "Exo 2", sans-serif;
  font-weight: 700;
  font-size: 0.6vw;
  text-transform: uppercase;
  color: var(--primary-color);
  padding: 0.4vw 0.8vw;
  background-color: var(--primary-blue-bg);
  width: fit-content;
  border-radius: 0.4vw;
}

.news-text {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 1.25vw;
  line-height: 1.3vw;
  letter-spacing: -0.01em;
  color: #030317;
  transition: 0.3s;
}

.news-item-info {
  background-color: #ffffff;
  border-radius: 1vw;
  padding: 1.6vw;
  width: 47vw;
}

.news-image-container {
  border-radius: 1vw;
  overflow: hidden;
  margin-bottom: 0.4vw;
  display: none;
  width: 32.8vw;
}

.news-item:hover .news-text {
  color: var(--primary-color);
}

.all-news-link {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 0.8vw;
  color: #fff;
  background-color: var(--primary-color);
  border-radius: 0.4vw;
  padding: 0.8vw 1.2vw;
  display: flex;
  align-items: center;
  gap: 0.4vw;
  max-width: 8.1vw;
  margin-top: 1.2vw;
  transition: 0.3s;
}

.all-news-link svg {
  width: 0.8vw;
  height: 0.8vw;
}

.all-news-link:hover {
  background-color: var(--primary-hover);
  gap: 0.7vw;
}

.first-child .news-image-container {
  display: block;
}

.first-child .news-item-info {
  width: auto;
}

.first-child {
  width: 32.8vw;
}

.first-child .news-date-container {
  justify-content: space-between;
}

/* FOOTER ================================================================ */

footer {
  background-color: #ffffff;
  padding: 4.6vw 0;
}

.footer-info-question-container {
}

.footer-number-container {
}

.footer-number {
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  font-size: 1.4vw;
  line-height: 1.4vw;
  text-align: center;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  gap: 0.4vw;
  background-color: var(--primary-blue-bg);
  padding: 0.8vw;
  width: fit-content;
  border-radius: 0.4vw;
  margin-bottom: 1.2vw;
}

.footer-number-backdrop-icon {
  width: 0.8vw;
  height: 0.5vw;
}

.footer-question-title {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 0.8vw;
  color: #9a9aa2;
  margin-bottom: 0.4vw;
}

.footer-email-address {
  display: flex;
  align-items: center;
  gap: 0.4vw;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 0.9vw;
  color: #030317;
  margin-bottom: 1.2vw;
}

.copy-icon {
  width: 0.88vw;
  height: 1vw;
}

.footer-info-container {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #030317;
  width: 15vw;
  display: flex;
  gap: 0.7vw;
}

.location-icon {
  width: 1.9vw;
  height: 1.2vw;
}

.footer-nav-link-item {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 0.9vw;
  line-height: 0.9vw;
  color: #030317;
}

.footer-nav-block {
  display: flex;
  flex-direction: column;
  gap: 1.2vw;
}

.footer-nav-container {
  display: flex;
  gap: 5.2vw;
}

.main-footer-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 4.1vw;
}

.footer-line {
  background: #f2f2f2;
  height: 1px;
}

.footer-social-container {
  display: flex;
  padding: 2.55vw 0;
  align-items: center;
  gap: 31vw;
}

.footer-logo {
  width: 5.7vw;
  height: 2.5vw;
}

.footer-social-link-container {
  display: flex;
  gap: 0.8vw;
}

.footer-social-link {
  background: #f2f3f7;
  width: 2.9vw;
  height: 2.9vw;
  border-radius: 0.4vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social-icon {
  width: 1.2vw;
  height: 1vw;
}

.footer-bottom-info {
  display: flex;
  gap: 22vw;
  margin-top: 2.5vw;
}

.footer-bottom-text {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 0.7vw;
  color: #9a9aa2;
}

.inner-politic-link {
  color: #353545;
}

.footer-bottom-text:nth-child(2) {
  width: 31vw;
}

/* =============INTERNET + TV PAGE====================================================== */
/*  INTERNET_TV_HERO===========================================*/
.internet-tv-hero-section {
  background-color: #f2f3f7;
  padding: 2vw 0;
}

.internet-tv-hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 2.6vw;
  border-radius: 1vw;
}

.internet-tv-hero-inf0 {
}

.internet-tv-hero-title {
  font-family: "Exo 2";
  font-weight: 600;
  font-size: 2.6vw;
  line-height: 2.8vw;
  color: #030317;
  margin-bottom: 1.2vw;
  width: 31vw;
}

.internet-tv-hero-text {
  font-family: "Manrope";
  font-weight: 500;
  font-size: 0.8vw;
  line-height: 1.3vw;
  color: #030317;
  width: 30vw;
  margin-bottom: 1.6vw;
}

.internet-tv-hero-btn {
  font-family: "Manrope";
  font-weight: 700;
  font-size: 0.8vw;
  line-height: 0.8vw;
  color: #fff;
  border-radius: 9px;
  padding: 1.2vw 4.7vw;
  background-color: var(--primary-color);
  border: none;
  transition: 0.3s;
}

.internet-tv-hero-btn:hover {
  background-color: var(--primary-yellow);
  color: var(--primary-color);
}

.internet-tv-hero-image-container {
  width: 39.3vw;
  height: 21.8vw;
}

/* TARIFF IN INTERNET_TV ===================== */
.tariff-in-internet-tv {
  padding-top: 4vw;
}

.tariff-in-internet-tv .tariff-list-container {
  justify-content: flex-start;
  gap: 0.8vw;
  margin-bottom: 2vw;
}

.tariff-in-internet-tv-bottom-text {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 0.7vw;
  line-height: 1vw;
  color: #9a9aa2;
}

/* INTERNET-TV-FORM-SECTION ========================================================= */

.internet-tv-form-section .form-container {
  width: 100%;
  padding-left: 24vw;
  background-image: url(../images/internet-tv-page/internet-tv-form-bg.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.internet-tv-form-section .form-btn {
  width: 19.1vw;
  margin-top: 1.6vw;
}

.inner-form-container {
  display: flex;
  gap: 1.2vw;
}

.internet-tv-form-section .first-label .form-input {
  width: 25.3vw;
}

.internet-tv-form-section .form-input {
  width: 12vw;
}

.internet-tv-form-section .first-label {
  width: 25.3vw;
  flex: none;
}

.internet-tv-form-section .form-title {
  width: auto;
}

/* WE CAN SECTION ================================= */

.we-can-icon {
  width: 2.8vw;
  height: 2.8vw;
  fill: #fff;
}

.separate-we-can-icon {
  width: 2.8vw;
  height: 2.8vw;
}

.we-can-icon-container {
  background-color: var(--primary-color);
  width: 5.4vw;
  height: 5.4vw;
  border-radius: 0.4vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.we-can-section {
  padding: 4vw 0;
}

.we-can-section-title {
  font-family: "Exo 2";
  font-weight: 600;
  font-size: 1.8vw;
  color: #000;
  margin-bottom: 2vw;
}

.we-can-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5vw;
}

.we-can-item-container {
  display: flex;
  align-items: center;
  gap: 1.5vw;
  background: #fff;
  padding: 1.6vw;
  border-radius: 0.6vw;
}

.we-can-icon {
}

.we-can-item-title {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 1vw;
  color: #000;
  margin-bottom: 0.6vw;
}

.we-can-item-text {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 0.8vw;
  line-height: 1.25vw;
  color: #030317;
  width: 16.7vw;
}

/* INSTRUCTIONS_SECTION ================================================== */

.instruction-section {
  background-color: #f2f3f7;
  padding: 4vw 0 5.8vw 0;
}

.instructions-list {
  display: flex;
  justify-content: space-between;
}

.instructions-item-icon {
  width: 4vw;
  height: 4vw;
  margin-bottom: 1.2vw;
}

.instructions-item .we-can-item-text {
  margin-bottom: 1.6vw;
  width: 11vw;
}

.instructions-item-btn {
  font-family: "Manrope";
  font-weight: 700;
  font-size: 0.8vw;
  line-height: 0.8vw;
  color: #fff;
  background-color: var(--primary-color);
  border: none;
  border-radius: 0.4vw;
  padding: 1.2vw 0;
  width: 11.5vw;
  transition: 0.3s;
}

.instructions-item-btn:hover {
  background-color: var(--primary-yellow);
  color: var(--primary-color);
}

.instructions-graph-text {
  font-weight: 700;
}

.item-text-in-grph {
  margin-bottom: 0.2vw !important;
}

.without-btn-item {
  width: 14vw !important;
}

.instructions-item:nth-child(4) .we-can-item-title {
  width: 10vw;
}

.instructions-item:nth-child(4) .without-btn-item {
  margin-bottom: 0.6vw !important;
}

.instruction-item-link {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 0.8vw;
  color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  gap: 0.4vw;
  transition: 0.3s;
}

.instruction-item-link:hover .instruction-item-link-icon {
  stroke: var(--primary-color);
}

.instruction-item-link:hover {
  color: var(--primary-color);
}

.instruction-item-link-icon {
  stroke: rgba(0, 0, 0, 0.2);
  width: 0.4vw;
  height: 0.6vw;
  transition: 0.3s;
}

/* EQUIPMENT_SECTION ===================================================== */

.equipment-section {
  /* background-color: #f2f3f7; */
  padding-top: 4vw;
  padding-bottom: 4vw;
}

.equipment-link-container {
  display: flex;
  justify-content: space-between;
}

.equipment-link-item {
  display: block;
  width: 27vw;
  background-color: #ffffff;
  padding: 1.7vw;
  border-radius: 0.8vw;
}

.equipment-image-container {
  width: 11.7vw;
  height: 11.7vw;
  margin: 0 auto;
  margin-bottom: 1.2vw;
}

.equipment-link-title {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 1.4vw;
  line-height: 2vw;
  letter-spacing: -0.01em;
  color: #030317;
  transition: 0.3s;
  display: flex;
  align-items: center;
  gap: 1vw;
}

.equipment-link-icon {
  width: 0.5vw;
  height: 0.8vw;
}

.equipment-image-container img {
  transition: 0.3s;
}

.equipment-link-item:hover .equipment-image-container img {
  transform: scale(1.15);
}

.equipment-link-item:hover .equipment-link-title {
  gap: 1.5vw;
}

.equipment-link-item:nth-child(3) .equipment-image-container {
  width: 19.3vw;
  height: 11.6vw;
}
